<mat-toolbar>
  <span>
    <a routerLink="/">MyMessages</a>
  </span>
  <mat-icon>message</mat-icon>
  <span class="spacer"></span>
  <ul>
    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLinkActive="mat-accent" routerLink="/create">New Post</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLinkActive="mat-accent" routerLink="/auth/login">Login</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLinkActive="mat-accent" routerLink="/auth/signup">Signup</a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <button mat-button (click)="onLogout()">Log out</button>
    </li>
  </ul>
</mat-toolbar>
